{%load i18n %}
		  <small class="alert alert-warning">
		    {% trans "Your account expired in:"%}
		    {%for code in active_codes %} 
		      <span> {{code.expired|timeuntil}}</span> 
		      {% endfor %}
		  </small>

		<canvas id="canvas"></canvas>
		<script charset="utf-8">
		    var config = {
			    type:'line',
			    data: {
				labels:[{%for a in graph.labels|slice:':-1' %}"{{a}}"{% if not forloop.last %},{% endif %}{%endfor%}],
				datasets:[
				    {%for domain, data in graph.data.items%}
				    {
					label:'Visits {{domain}}',
					data:[{%for a in data|slice:':-1' %}{{a}}{% if not forloop.last %},{% endif %}{%endfor%}],
					    fill:false,
					    backgroundColor:{%ifchanged domain %} "{%cycle 'rgb(255, 99, 132)' 'rgb(255, 159, 64)' 'rgb(255, 205, 86)' 'rgb(75, 192, 192)' 'rgb(54, 162, 235)' 'rgb(153, 102, 255)' 'rgb(201, 203, 207)' %}" {% else %} 'rgb(54, 162, 235)' {%endifchanged%},
					    borderColor:{%ifchanged domain %} "{%cycle 'rgb(255, 99, 132)' 'rgb(255, 159, 64)' 'rgb(255, 205, 86)' 'rgb(75, 192, 192)' 'rgb(54, 162, 235)' 'rgb(153, 102, 255)' 'rgb(201, 203, 207)' %}" {% else %} 'rgb(54, 162, 235)' {%endifchanged%}

				    }{% if not forloop.last %},{% endif %}
				    {% endfor %}
				]
			    },
					options:{
						tooltips: {
							mode: 'index',
							intersect: false
						},
						responsive: true,
						scales: {
							xAxes: [{
								stacked: false,
							}],
							yAxes: [{
								stacked: false
							}]
						}
					  }
			}
		    window.onload=function(){
		var ctx = document.getElementById('canvas').getContext('2d');
			    window.myLine = new Chart(ctx, config);
			}
		</script>

