{% load i18n %}

<div class="col-md-12 ">

<div class="well">
<img class="img-rounded pull-left p-s " src="https://i.imgur.com/ohT9yOBs.jpg" alt="zodman img">

<h3> {% trans "Bienvenidos!" %} </h3>
<div>
    <p>
    {% blocktrans %}
        Mi nombre es Andres y desarrolle este auditor mi twitter es:  
        {% endblocktrans %} <a href="http://twitter.com/zodman" target="_blank">@zodman</a>
    </p>
<p>
{% blocktrans %}
   Por cierto "Gracias por registrate en la plataforma". Tu cuenta en este momento no tiene datos. <br>
    Por lo que tendras que seguir los pasos mencionados abajo para continuar.
{% endblocktrans %}     
</p>

<p class="mt-s">

{% blocktrans %}
    
    Te voy contar rapida y velozmente como funciona esto! <br>
El auditor de acortadores es un sistema que cuenta la cantidad de trafico que entra a una url  acortador (adfly) y la cantidad de trafico que sale.
{% endblocktrans %} 
<br>
{% trans "El trafico es contabilizado. Guardando cuantas veces visita adfly:" %}
<pre><code class="hljs">[auditor-URL entrada] -&gt; [acortador de ad.fly] -&gt; [auditor-URL salida] -&gt; [Url Descarga Directa]
        ^                                               ^
        |                                               |
     Marca ip a contar                           Contabiliza de IP`s
</code></pre>
{% blocktrans %}
    
Con esto tienes evidencia si adfly te contabiliza el 100% del trafico que  tu le mandas. <br>
{% endblocktrans %} 
</p>

<p>
{% blocktrans %}
    
Si aun no sabes cual acortador te conviene, con esta herramienta puedes determinarlo. Ya que puedes agregar todos los servicios de acortadores que quieras, y mandarles la misma cantidad de trafico. Al finalizar el mes sabras cual de los acortadores te pago mas por la misma cantidad de visitas que le mandaste.
{% endblocktrans %} 
</p>

</div>
</div>

    <div class="panel panel-default">
        <div class="panel-heading">
        <h3> {% trans "Paso 1" %} </h3>    
        </div>
        <div class="panel-body">
            {% trans "Crear un servicio, los servicios son las urls de:" %} <br>
            <ul class="col-md-10">
                <li>
                
                    <a href="https://adf.ly/publisher/tools#tools-easy">EasyLink</a>  {% trans "para adfly." %}
                </li>
                <li>
                
                {% trans "QuickLink para " %} <a href="http://ouo.io/manage/tools/quick-link">Ouo.io</a>, shorte.
                </li>
            </ul>
            <a class="btn btn-info btn-lg  pull-right" href="{% url 'create_service' %}"> {% trans "Crear Servicio" %}</a>
        </div>
    </div>
</div>


