
		<canvas id="canvas"></canvas>

		<script charset="utf-8">
		    var config = {
			    type:'line',
			    data: {
				labels:[{%for a in reports2 reversed %}"{{a.day}}"{% if not forloop.last %},{% endif %}{%endfor%}],
				datasets:[{
				    label:'Visits',
				    data:[{%for a in reports2 reversed %}{{a.available}}{% if not forloop.last %},{% endif %}{%endfor%}],
				    fill:false,
								backgroundColor:'rgb(54, 162, 235)',
								borderColor:'rgb(54, 162, 235)'
				}]
			    }
			}
		    window.onload=function(){
		var ctx = document.getElementById('canvas').getContext('2d');
			    window.myLine = new Chart(ctx, config);
			}
		</script>

