{% extends "site_base.html" %}
{% load i18n chart_tags tz %}
{% block body %}

<div class="row">
    <div class="col-md-3">
            {% include "core/menu.html" %}
    </div>
    <div class="col-md-9">

    {% if service_exists %}
        <h3 class="text-center"> {% trans "Reports global" %}</h3>
        {% if reports2  and selected_domain %}
            {% include 'core/home/_selected_domain.html'%}
          {% else %}
            {% include 'core/home/_all.html' %}
        {% endif %}
    {% else %}
        <!-- include intro-->
        {% include "core/home/_intro.html" %}
    {% endif %}
    </div>
</div>
<div class="row">
{% if service_exists %}
    <div class="col-md-3">
        <h3>
            <a href="{%url 'home'%}">{% trans "Domains" %}</a>
        </h3>

        <ul>
            {%for domain in graph.data.keys %}
            <li>
                <a href="{% url 'home'%}?domain={{domain}}">
                    {{domain}}  <i class="fa fa-area-chart fa-1" aria-hidden="true"></i>
                </a>

                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">

        {% regroup list by domain  as report_list%}

        {%for d in report_list%}
        <h3>{% trans "Last visits on" %} {% now "F" %} -
            <a href="{% url 'home'%}?domain={{d.grouper}}">
                {{d.grouper}} <i class="fa fa-area-chart" aria-hidden="true"></i>
            </a>
            </h3>
            <table class="table table-condesed table-striped">
                <tr>
                    <th> {% trans "Visits" %}  </th>
                    <th> {% trans "Day" %} </th>
                    <th> {% trans "domain" %}</th>
                </tr>
            {% for a in d.list %}

                    <tr>
                        <td>{{a.available}}</td>
                        <td>
                            {% comment %}
                                
                            <a href="{% url 'list_url_byday'%}?date={{a.day|date:'Y-m-d'}}&domain={{a.domain}}">{{a.day}}
                            {% endcomment %}
                            <a href="{% url 'list_url_byday'%}?&domain={{a.domain}}">{{a.day}}
                                <i class="fa fa-pie-chart fa-1" aria-hidden="true"></i>

                        </a></td>
                        <td>
                            <a href="{% url 'list_url_byday'%}?domain={{a.domain}}">
                                {{a.domain}}
                                <i class="fa fa-pie-chart fa-1" aria-hidden="true"></i>

                            </a>
                        </td>
                    </tr>
            {% endfor %}
        </table>
        {%endfor%}
    </div>
{% endif %}
</div>



{% endblock body %}
