{% load i18n %}
<h1>
    {% trans "EY! wait ..." %}
</h1>

<p>
{% blocktrans %}
    You do not have any added services yet ..
or someone must at least have a service in infinite
{% endblocktrans %} 
</p>



<a href="{% url 'create_service'%}" class="btn btn-default btn-lg"> {% trans "Create a service" %}</a>
