{% extends "site_base.html" %}
{% load i18n bootstrap %}
{% block page_header %}
    {% if analitic %}
        Edit Analitic
    {% else %}
        Create Analitic
    {% endif %}
{% endblock page_header %}

{% block body %}

    <a href="{% url 'home' %}" class="btn btn-primary">
      {% trans "Back"%}
      </a>

<form action="" method="post">

    {% csrf_token %}
    {{form|bootstrap}}
    <button class="btn btn-primary"> 
    {% trans "Send" %}
    
    </button>
</form>


{% endblock body %}
