{% extends "site_base.html" %}

{% load i18n %}

{% block page_header %}
    Analitic
{% endblock page_header %}

{% block body %}

    <a href="{% url 'home' %}" class="btn btn-primary">
      {% trans "Back"%}
      </a>

    {% if object %}
    <a href="{% url 'analitic_update'  %}" class="btn btn-primary">
      {% trans "Update Analytic"%}
      </a>
      {% else %}
    <a href="{% url 'analitic_create'  %}" class="btn btn-primary">
      {% trans "Set Analytic"%}
      </a>


      {% endif %}


<br>

    AU: {{object.au}}
{% endblock body %}
