{% extends "site_base.html" %}
{% load i18n bootstrap %}
{% block body %}

<div class="row">
    <div class="col-md-3">
    {% include "core/menu.html" %}   
  <a href="{% url 'home' %}" class="btn btn-primary">
      {% trans "Home"%}
  </a>
   
    </div>
    <div class="col-md-8">
    
 

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                            {% trans "Delete domain" %}
                    </h3>
                </div>
                <div class="panel-body">
                         <form action="" method="post">
                            {% csrf_token %}
                            {{form|bootstrap}}
                            <button class="btn btn-primary"> 
                                {% trans "Send" %}
                            </button>
                        </form>
                </div>
            </div>


{% endblock body %}
