{% load i18n %}

<div class="list-group mt-s">
 
  <a href="{% url 'list_service' %}" class="list-group-item">
      {% trans "Services" %}
  </a>
  <a href="{% url 'list_url' %}" class="list-group-item">
    {% trans "ShortURLs" %}
 </a>

 <a href="{% url 'analitic_detail' %}" class="list-group-item">
    {% trans "Set Analytic AU" %}
 </a>

</div>
