{% extends "site_base.html" %}
{% load i18n bootstrap %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        {% include "core/menu.html" %}

         <a href="{% url 'home' %}" class="btn btn-primary">
          {% trans "Home"%}
        </a>
 
    </div>
    <div class="col-md-8">
        <p>
            {% trans "Are you want to delete the domain: " %} {{object.domain}}
            {% trans "and" %} {{urls.count}} {% trans "urls" %} ?
        </p>

                    <form method="POST" action="{% url 'delete_service_urls' service.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg btn-default">
                                    <span class="glyphicon glyphicon-trash"></span> 
                            {% trans "CONFIRM DELETE ALL" %}
                            </button>
                    </form>


   </div>
</div>





{% endblock body %}
