{% extends "site_base.html" %}
{% load i18n bootstrap %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        {% include "core/menu.html" %}

         <a href="{% url 'home' %}" class="btn btn-primary">
          {% trans "Home"%}
        </a>
 
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                
                {% trans "Add Service" %}
                </h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" class="">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <button class="btn btn-primary"> {% trans "Send" %} </button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                     <div class="panel-heading">
                            {% trans "Some examples" %} 
                    </div>

                    <div class="panel-body">

            {% blocktrans %}
                Los servicios son la clave del sistema, en los acortadores los llaman, QuickLinks o easyLinks, por que le puedes pasar una url para que el acortador redireccione a esa url destino. <br>
Por ejemplo para ouo.io un quicklink seria: <br>
<br>

http://ouo.io/s/cGs2NcZv?s=yourdestinationlink.com
<br>
<br>
Donde el quicklink para el auditor es:  http://ouo.io/s/cGs2NcZv?s={} <br>
donde {} se remplazara con la url. 

            {% endblocktrans %}    




                        <div class="mt-m">
                            We recommend Croco:
                            <code>http://croco.me/kB8Nl8os/?l={}</code>
                        </div>
                        <div>
                            For shink.in 
                            <code>
                                http://shink.in/s/78617?s={}
                            </code>
                        </div>
                        <div>
                            For adf.ly 
                            <code>

                                http://adf.ly/2744286/{}
                            </code>

                        </div>

                        <div>
                            for Shorte
                            <code>
                             http://sh.st/st/f2071b7b862c5a27f36a3b0fe60042b7/{}
                            </code>
                         </div>

                    </div>
                </div>
            </div>
        </div>

   </div>
</div>





{% endblock body %}
