{% extends "site_base.html" %}
{% load i18n bootstrap %}
{% block body %}

<div class="row">
    <div class="col-md-3">
        {% include "core/menu.html" %}
        <a href="{% url 'home' %}" class="btn btn-primary">
                {% trans "Home"%}
          </a>


    <a href="{% url 'create_service' %}" class="btn btn-primary">
      {% trans "Create Service"%}
      </a>

  </div>
  <div class="col-md-8">


    <a href="{% url 'create_service' %}" class=" btn btn-primary btn-sm pull-right m-s">
      {% trans "Create Service"%}
  </a>

    <a href="{% url 'delete_domain' %}" class=" btn btn-primary btn-sm pull-right m-s">
      {% trans "Delete urls from domain"%}
      </a>


            <table id="app" class="table table-condesed table-striped">

                <tr>
                    <th> {% trans "Domain" %}</th>
                    <th> {% trans 'Visits' %}</th>
                    <th></th>
                   
                </tr>

            {% for service in  object_list %}
                <tr>
                    <td colspan="3"> {{service.domain}} </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                             <form method="post" action="{% url 'save_service' service.id %}" class="">
                                {% csrf_token %}
                                <input type="text" placeholder="{{service.limit|default_if_none:"∞"}}" name="limit">
                                <span class="input-group-btn">
                                     <button type="submit" class="btn btn-xs btn-success" type="submit">
                                        <span class="glyphicon glyphicon-equalizer"></span> 
                                        {% trans "Set limit" %}
                                    </button>
                                </span>
                            </form>                       
                              <form method="post" action="{% url 'save_service' service.id %}" class="">
                                {% csrf_token %}
                                <input type="hidden" name="limit" value="-1">
                                <span class="input-group-btn">
                                     <button type="submit" class="btn btn-xs btn-warning" type="submit">
                                        <span class="glyphicon glyphicon-equalizer"></span> 
                                        {% trans "Set ∞" %}
                                    </button>
                                </span>
                            </form>    
                        </div>
                        
                    </td>
                    <td> {{service.count_visits}} </td>
                    <td>
                        <form method="post" action="{% url 'delete_service' service.id %}" class="pull-right" style="margin-left:10px;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-trash"></span> 
                            {% trans "Delete" %}
                            </button>
                    </form>
                     <form method="get" action="{% url 'delete_service_urls' service.id %}" class="pull-right" style="margin-left:10px;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-trash"></span> 
                            {% trans "Delete domain and urls" %}
                            </button>
                    </form>


                    </td>
                </tr>


            {% endfor %}

            </table>
            <div>
            
                {% blocktrans %}
                    El limite del dominio es la cantidad de acortadores que se van a generar. No representa el limite de visitas.
                {% endblocktrans %} 
            </div>
  </div>
</div>

    
{% endblock body %}

{% block scripts %}
{{block.super}}
<script src="https://unpkg.com/vue"></script>
<script>
var app = new Vue({
    delimiters: ['${', '}'],
    el: '#app',
    data: {
    },
});
</script>
{% endblock %}
