{% extends "site_base.html" %}
{% load i18n bootstrap core_tags  cache chart_tags l10n %}
{% block body %}

<div class="row">
    <div class="col-md-3">
        {% include "core/menu.html" %}

        <a href="{% url 'home' %}" class="btn btn-primary">
            {% trans "home"%}
        </a>
    </div>
    <div class="col-md-8">             


<h2>
    {% trans "Visits" %} {%if ddate %}- {{ddate}} {% endif %} - {{domain}} - <small>Total: {{total|localize}} </small>
</h2>


<canvas id="myChart" ></canvas>



<table id="country-table" class="table table-condesed table-striped" >
{% for u in  countries %}
<tr>
        <td>{{forloop.counter}}</td>
        <td>
            {{u.country}} <div class="famfamfam-flags {{u.country|country}} pull-right"></div>
        </td>
        <td>
            {{u.ips_country}}
        </td>
        <td >
            ${ percent({{u.ips_country}}) } %
        </td>
</tr>
{% endfor %}
</table>


    </div>
</div>


    
{% endblock body %}

{% block scripts %}
{{block.super}}
<script src="https://unpkg.com/vue"></script>
<script>
var app = new Vue({
    delimiters: ['${', '}'],
    el: '#country-table',
    data: {
        total:{{total}}
    },
    methods:{
        percent:function(value){
            var total = this.total;
            return (value*100/total).toFixed(2);
        }
    }
});

var data_ = {
    labels: [{%for i in countries|slice:'0:5'%}"{{i.country}}"{%if not forloop.last%},{%endif%}{%endfor%}],
    datasets:[{
        data:[{%for i in countries|slice:'0:5'%}{{i.ips_country}}{%if not forloop.last%},{%endif%}{%endfor%}],
        label:' Countries ',
        backgroundColor:[
            '#4dc9f6',
                    '#f67019',
                    '#f53794',
                '#537bc4',
                '#acc236',
        ]
    }]
};
window.onload = function() {
var ctx = document.getElementById("myChart").getContext('2d');
var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: data_
});
};

</script>
{% endblock %}
