{% extends "site_base.html" %}
{% load i18n bootstrap core_tags  cache %}
{% block body %}
    <a href="{% url 'home' %}" class="btn btn-primary">
      {% trans "Home"%}
    </a>

    <a href="{% url 'create_url' %}" class="btn btn-primary">
      {% trans "Create url"%}
    </a>
<h2>
{% trans "Urls with shorturl" %}
</h2>

{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
{% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
{% endif %}
</ul>
{% endif %}


<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Search</label>
    <input type="text" class="form-control"  placeholder="bit.ly" name="q">
  </div>
<button type="submit" class="btn btn-default">Send</button>
</form>

<table class="table table-condesed table-striped">

    <tr>
        <th colspan="2"> {% trans "shorturl" %}</th>
        <th class="col-md-1"> {% trans "visits" %}</th>
        <th > {% trans "service" %}</th>
        <th colspan="3">  </th>

    </tr>

{% for u in  object_list %}
    <tr>
        <td> 
            <a id="foo__{{u.id}}" href="{{u.get_in}}" target="_blank">{{u.get_in}}</a>

        </td>
        <td>
        <button class="btn btn-default btn-sm" data-clipboard-text="{{u.get_in}}"> <i class="fa fa-clipboard" aria-hidden="true"></i> 
            </button>

        </td>
        <td> 
           {{u.visits.count}}
        </td>

        <td class="small col-md-2"> 
			<a href="{{u.url}}" target="_blank"> {{u.get_url_domain }} </a>
        </td>
        <td class="small "> 
            {%if u.service %}
                <a href="{{u.out}}" target="_blank"> {{u.service.get_domain }} </a>
            {% endif %}
        </td>
        <td class="small">
            {{u.created_date}}
        </td>
        <td class="col-md-1">
            <a href="{% url 'detail_url' u.pk  %}" class="btn btn-default btn-small">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
	   </td>
    </tr>
{% endfor %}

</table>
{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
{% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
{% endif %}
</ul>
{% endif %}

{% endblock body %}
