{% extends "site_base.html" %}
{% load i18n bootstrap %}
{% block body %}

<div class="row">
    <div class="col-md-3">
    {% include "core/menu.html" %}   
  <a href="{% url 'home' %}" class="btn btn-primary">
      {% trans "Home"%}
  </a>
   
    </div>
    <div class="col-md-8">
    
 
  {% if not service_exists %}
      {% include "core/_no_service.html" %}
  {% else %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                            {% trans "Add shorturl" %}
                    </h3>
                </div>
                <div class="panel-body">
                         <form action="" method="post">
                            {% csrf_token %}
                            {{form|bootstrap}}
                            <button class="btn btn-primary"> 
                                {% trans "Send" %}
                            </button>
                        </form>
                </div>
            </div>




<div>

    <h2>
        QuickLINK
    </h2>

    <code>
        http://{{site.domain}}{% url 'create_by_url' code %}?url=http://google.com
    </code>

<p class="mt-xl">
{% blocktrans %}
    Las Shorturls son las urls destino ( tu liga de descarga directa). Que vas a utilizar.
    <br>
    
    Cuando agregar una url de descarga directa lo que hace el acortador te genera un url de entrada( url.info.gf/i/XXXX)  cuando la visitas se crear un acortador (por ejemplo url de adfly)


{% endblocktrans %} 

</p>



    <br>

    <h2>API python</h2>

<pre>
import requests
import random

user, pas = "user", "pass"
URL = "http://url.info.gf/api/"
for i in range(0,100):
    r = requests.post(URL, data={'username':user,'password':pas, 'url':'http://google.com?id={}'.format(random.randint(0,100))})
    print r.content

</pre>

<h2> API curl </h2>

<pre>
$ curl --data 'username=user&password=pass&url=http%3A%2F%2Fauditmy.link' http://url.info.gf/api/
{"url": "http://url.info.gf/i/7m1m"}

</pre>

<h2> Wordpress shortcode plugin </h2>

<p>
Install wordpress  plugin: <a href="https://gitlab.com/zodman/wp-auditmylink/-/archive/master/wp-auditmylink-master.zip">wp-auditmy.link</a>
</p>

<pre>
[auditmylink id='{{code}}']http://youtube.com[/auditmylink]

</pre>


</div>
   
    
    </div>
</div>




{% endif %}





{% endblock body %}
