{% extends "site_base.html" %}
{% load i18n bootstrap tz %}
{% block body %}

    <a href="{% url 'home' %}" class="btn btn-primary">
      {% trans "Menu"%}
      </a>
<br>

 {{object.url}}
 - {{object.out}} {{object.created_date}}
<table class="table">

    <tr>
        <th> {% trans "Count" %}</th>
        <th> {% trans "Day" %}</th>
    </tr>

{% for u in  object.get_visits %}
    <tr>
        <td> {{u.available}} </td>
        <td> {{u.day}} </td>
    </tr>
{% endfor %}

</table>



<table class="table">

    <tr>
        <th> {% trans "IP" %}</th>
        <th> {% trans "Country" %}</th>
        <th> {% trans "date" %}</th>
    </tr>

{% for u in  object.visits.all %}
    <tr>
        <td> {{u.ip}} </td>
        <td> {{u.country}} </td>
        <td> 
            {% get_current_timezone as TIME_ZONE %}
            {{TIME_ZONE}}:

            {{u.visit_date}}
            <br>
            {{u.get_timezone}}:
            {{u.visit_date|timezone:u.get_timezone}}
        </td>
    </tr>
{% endfor %}

</table>


 <form method="post" action="{% url 'delete_url' object.id %}">
                {% csrf_token %}
				<button type="submit" class="btn btn-sm btn-default">
						<span class="glyphicon glyphicon-trash"></span> Borrar
				</button>
            </form>


{% endblock body %}
