{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{# load pinax_webanalytics_tags #}
{% load i18n %}


{% block styles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style type="text/css" media="screen">
    #content_body {
	  margin-top: 50px;
	}
</style>
<!-- link rel="stylesheet" href="//bootswatch.com/3/superhero/bootstrap.css" /-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{{MEDIA_URL}}public/app.css" />

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-17028617-21"></script>
<script>
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());
            gtag('config', 'UA-17028617-21');
        </script>

{% endblock %}


{% block site_brand %}
<a class="navbar-brand" href="{% url "home" %}">
   AuditMy.link <i class="fa fa-signal fa-fw" aria-hidden="true"></i>
</a>
{% endblock %}

{% block account_bar %}
{% include "_account_bar.html" %}
{% endblock %}
{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}

{% trans "Soporte:" %} <a href="http://twitter.com/zodman" target="_blank">@zodman</a>
{% endblock %}


{% block scripts %}
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="{{MEDIA_URL}}public/app.js"></script>
<script>
require("media/app/main");
</script>
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
