{% extends "site_base.html" %}
{% load i18n bootstrap %}
{% block body %}

    <a href="{% url 'home' %}" class="btn btn-primary">
      {% trans "Back"%}
      </a>


<div class="jumbotron">
    <h1> {% trans "Hello" %}! {{request.user.username}}</h1>
    <p>
        {% blocktrans %}
First of all thank you for registering, to this system!
        {% endblocktrans %} 
    </p>
<p>
    {% blocktrans %}
To continue you must enter a  code. The codes have a time limit of 30 days.
    {% endblocktrans %} 
</p>

<p>
    <small> 
        {% blocktrans %}
Your urls and data have not been deleted simply can not see the records 
        {% endblocktrans %} 
    </small>
</p>

<p class="block-center">
    <br>

    <a class="rocketr-embed" data-product="8796eb1873be" data-color="#ff2100" data-text="{% trans "BUY A CODE"%}" data-width="400px"  href="https://rocketr.net/buy/8796eb1873be">Buy Now</a><script type="text/javascript" src="https://rocketr.net/assets/RocketrButton.js"></script>
    <!--a href="https://rocketr.net/sellers/pelana" class="btn btn-primary btn-lg ">
        <span class="glyphicon glyphicon-barcode"></span>
         {% trans "BUY A CODE" %}
        </a-->
</p>
    <h3>Enter CODE:</h3>
    <form action="" method="post">
        {% csrf_token %}
      <div class="input-group input-group-lg">    
                <input type="text" name="code" class="form-control" placeholder="CODE" aria-describedby="sizing-addon1">
                      <span class="input-group-btn">
                <button class="btn btn-success" type="submit"> {% trans "SEND" %}</button>
                </span>
    </div>
    </form>
        <h3> {% trans "Actived Codes" %} </h3>
        <url>{% for a in code_active %}
        <li> {{a.code.code}} - {% trans "expired at"%} {{a.expired}} - {{a.code.type}}</li>
            {% endfor %}
        </url>


</div>

{% endblock body %}
